.step_container {
  .title {
    margin: 20px 0;
    padding-left: 35px;
    width: 418px;
    height: 44px;
    font-size: 22px;
    font-family: FZZZHONGJW--GB1-0, FZZZHONGJW--GB1;
    color: #ffffff;
    line-height: 44px;
    background: url(~@/assets/images/excess_case_event_type_title_bg.png)
      no-repeat;
    background-size: 100%;
  }
  div:not(.title) {
    display: flex;
    width: 100%;
    height: auto;
    min-height: 44px;
    & > div:nth-child(1) {
      width: 160px;
      height: 28px;
      font-size: 20px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #287cae;
      line-height: 28px;
      justify-content: flex-end;
    }
    & > div:nth-child(2) {
      margin-left: 16px;
      width: calc(100% - 146px);
      font-size: 20px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #dff6ff;
      line-height: 28px;
      display: flex;
      flex-direction: column;
      & > img {
        margin-top: 20px;
        width: 288px;
        height: 195px;
        &:last-child {
          margin-bottom: 20px;
        }
      }
    }
  }
}
